.container {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
  }

  form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }

  label {
    margin-bottom: 10px;
  }

  input[type="text"], input[type="number"] {
    padding: 10px;
    margin-bottom: 20px;
  }

  button[type="submit"] {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  button[type="submit"]:hover {
    background-color: #0069d9;
  }

  ul {
    list-style: none;
    padding: 0;
    margin-bottom: 20px;
  }

  li {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
  }

  li:last-child {
    margin-bottom: 0;
  }

  li span {
    font-weight: bold;
  }

  #total-expenses {
    font-size: 24px;
    font-weight: bold;
  }